.category-sub {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s ease-in-out, margin 0.8s ease; 
  margin: 20px 0 0 15px;
}

.category-sub.open {
  max-height: 500px; 
}

.category-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: -10px;
}

.category-title {
  display: flex;
  align-items: center; 
}

.main-cat-icon {
  margin-left: 10px;
  margin-bottom: -6px;
  vertical-align: middle;
  font-size: medium;
}

.category-sub.open {
  margin-bottom: 20px;
}