.category-selector-box {
  display: flex;
  flex-direction: column;
  height: 93vh;
  background-color: var(--primary-background);
  flex: 1 1 300px;
  padding: 20px 30px;
  border-right: 1px solid #ccc;
}
.categories-title-box {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--grey-300);
  font-size: 0.8rem;
  margin: 10px auto 20px;
  background-color: var(--cold-blue-100);
  transition: background-color 0.3s ease;
}

.categories-list-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.category-item {
  margin: 20px 0 0;
  font-size: 1.3rem;
  cursor: pointer;
}

.feed-divider {
  height: 1px;
  background-color: var(--grey-300);
}

