.post-container {
  padding-bottom: 0.6rem;
  padding-top: 0.3rem;
}

.post-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem auto 0.4rem;
  color: var(--dark-green);
}

.post-body {
  font-size: 1.1rem;
  font-weight: 300;
}

.post-votes-and-comments-section {
  display: flex;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}

.post-votes-and-comments-section > div {
  margin-right: 0.3rem;
}

.post-avatar-username-section {
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.post-username {
  padding-left: 0.3rem;
  font-size: 0.9rem;
}

.post-user-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  border: 1px solid #36625b;
}

.post-date {
  color: #828282;
  font-size: 0.9rem;
}

.vote-encasing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  width: 5rem;
  border-radius: 3rem;
  background-color: var(--lighter-green);
  padding: 0.4rem;
}

.vote-count {
  color: white;
}

.comment-encasing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  width: 4.5rem;
  border-radius: 3rem;
  background-color: var(--lighter-green);
  padding: 1rem;
}

.comment-count {
  color: white;
}

.post-tag-encasing {
  display: flex;
  align-items: center;
}

.main-tag,
.sub-tag {
  padding: 0.3rem 0.1rem;
  border-radius: 0.5rem;
}

.main-tag:hover,
.sub-tag:hover {
  background-color: var(--grey-200);
  cursor: pointer;
}
