.post-container {
  display: flex;
  padding-bottom: 0.6rem;
  padding-top: 0.3rem;
}

.post-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem auto 0.4rem;
  color: var(--dark-green);
}

.post-tag-comment-vote-container {
  display: flex;
  align-items: center;
}

.post-votes-and-comments-section {
  display: flex;
}

.post-votes-and-comments-section > div {
  margin-right: 0.3rem;
}

.post-avatar-username-section {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.post-username {
  padding-left: 0.3rem;
  font-size: 0.9rem;
}

.post-user-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #36625b;
}

.post-date {
  color: #828282;
  font-size: 0.9rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.post-images {
  margin-left: 2rem;
}

.image {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 1.3rem;
}

.multi-image-container {
  position: relative;
  display: inline-block;
}

.image-counter-overlay {
  position: absolute;
  bottom: 0.22rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.2rem 0.4rem 0.1rem;
  border-radius: 0.4rem;
}

.icon-encasing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem; 
  border-radius: 2rem;
  background-color: var(--lighter-green);
  padding: 0.1rem 0.8rem; 
}

.vote-encasing {
  padding: 0.3rem 0.6rem; 
}

.comment-encasing {
  padding: 0.3rem 0.8rem; 
  margin-left: 0.5rem;
}

.vote-count {
  color: white;
  padding: 0 0.5rem;
}

.comment-count {
  color: white;
  padding-left: 0.5rem;
}

.post-tag-encasing {
  display: flex;
  margin-left: 0.5rem;
}

.main-tag,
.sub-tag {
  padding: 0.3rem 0.1rem;
  border-radius: 0.5rem;
}

.main-tag:hover,
.sub-tag:hover {
  background-color: var(--grey-200);
  cursor: pointer;
}
