@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --nav-height: 64px;

  --primary-background: #f8fafa;
  --secondary-background: #579c7c;

  --scroll-background: #edf3f3;
  --scroll-handle: #d1dbdb;

  --category-hover: var(--cold-blue-100);

  --grey-200: #eee;
  --grey-300: #ddd;
  --grey-400: #ccc;
  --grey-500: #999;

  --cold-blue-100: #ecf1f5;
  --cold-blue-150: #e4eaef;
  --cold-blue-200: #dde5ee;
  --cold-blue-300: #ced8e6;

  --dark-green: #05473d;
  --lighter-green: #36625b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  overflow: hidden;
}

.navbar-spacer {
  height: 64px;
  /* should nevcer be seen, 👇🏻 hence the super obvious colour */
  background-color: rgb(239, 37, 37);
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {
  .signup-benefits-wrapper {
    display: none;
  }
}

/* @media (max-width: 900px) {
  .category-selector-wrapper {
    display: none;
  }
} */

@media (max-width: 520px) {
  .post-container {
    flex-direction: column;
  }
  .post-images {
    margin-bottom: 20px;
  }
  .icon-encasing {
    height: 2rem; 
    padding: 0.1rem 0.7rem; 
  }
}
