.feed-page {
  display: flex;
}

.category-selector-wrapper {
  padding-top: var(--nav-height);
  flex: 1 1 300px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
}

.category-selector-wrapper:hover {
  scrollbar-color: var(--grey-400) var(--grey-200);
}

.feed-column-wrapper {
  padding-top: var(--nav-height);
  flex: 3 3 900px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
}

.feed-column-wrapper:hover {
  scrollbar-color: var(--grey-400) var(--grey-200);
}

.signup-benefits-wrapper {
  padding-top: var(--nav-height);
  flex: 1 1 250px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
}

.signup-benefits-wrapper:hover {
  scrollbar-color: var(--grey-400) var(--grey-200);
}
