.feed-page {
  display: flex;
}

.category-selector-wrapper {
  padding-top: var(--nav-height);
  flex: 1 1 300px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-background) var(--primary-background); 
}

.category-selector-wrapper:hover {
  scrollbar-color: var(--scroll-handle) var(--scroll-background);
}

.feed-column-wrapper {
  padding-top: var(--nav-height);
  flex: 3 3 900px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-background) var(--primary-background); 
}

.feed-column-wrapper:hover {
  scrollbar-color: var(--scroll-handle) var(--scroll-background);
}

.signup-benefits-wrapper {
  padding-top: var(--nav-height);
  flex: 1 1 250px;
  height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-background) var(--primary-background);  
}

.signup-benefits-wrapper:hover {
  scrollbar-color: var(--scroll-handle) var(--scroll-background);
}
